name: Archive build

on:
  push:
    branches: [ master ]
    paths-ignore:
      - '*.md'
      - '*.json'
      - '**/wcokey.txt'
  workflow_dispatch:

concurrency:
  group: "Archive-build"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
